* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FFF;
    --text-color: #323238;
    --card: #E1E1E6;
    --card-activated: #02799D;

    font-size: 62.5%;
}

.dark-mode:root {
    --bg-color: #121214;
    --text-color: #FFF;
    --card: #29292E;
    --card-activated: #0A3442;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'Roboto', sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 6rem 30rem 0 0;

    min-width: 100vw;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button:hover {
    opacity: 0.8;
}

main {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 19.2rem;

    margin-top: 8.2rem;
}

.hide {
    display: none;
}

.left {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
}

.time {
    display: flex;
    flex-direction: row;
}

.time span {
    font-style: normal;
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 4.0rem;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controls button:hover {
    opacity: 0.8;
}

.controls button svg path {
    fill: var(--text-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.2rem;
}

.florest {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
  
.rain {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
  
.coffeshop {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
  
.fireplace {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.cards button {
    width: 13.8rem;
    height: 15.2rem;

    background-color: var(--card);
    border: none;
    border-radius: 2.4rem;
    cursor: pointer;
}

.cards button svg {
    margin-bottom: 2.2rem;
}

.cards button svg path{
    fill: var(--text-color); 
}

.cards button.activated {
    background-color: var(--card-activated);
}

.cards button.activated svg path{
    fill: #FFFFFF; 
}

.cards button:hover {
    border: 3px solid var(--text-color);
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--text-color);
    border-radius: 0.5rem;
    height: .4rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: var(--text-color);
    border-radius: 1rem;
    height: 1.6rem;
    width: 1.6rem;
  }

  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: var(--text-color);
    border-radius: 0.5rem;
    height: 4px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: var(--text-color);
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1rem;
    height: 16px;
    width: 16px;
  }

  .cards button.activated input[type="range"]::-webkit-slider-runnable-track {
    background-color: #FFF;
  }

  .cards button.activated input[type="range"]::-webkit-slider-thumb {
    background-color: #FFF;
}

@media (max-width: 850px) {
    header {
        justify-content: center;
        margin: 0;

        margin-top: 5rem;
    }
    main {
        flex-direction: column;
        gap: 3rem;

        margin-top: 2rem;
    }  
}
  
  
  
  
  
  
  